.start{
    width: 500px;
    height: 500px;
    border: solid green 1px;
    text-align: center;
    margin: 10px auto;
}
.title{
    margin: 3vw auto;
    font-size: 36px;
    font-weight: bold;
    color: blue;
}
.input{
    height: 50px;
    width: 300px;
    margin: 3vw auto;
    border: solid green 1px;
    font-size: 36px;
    text-align: center;
}
.startBtn{
    margin: 3vw auto;
}
.game{
    width: 500px;
    height: 500px;
    border: solid green 1px;
    position: relative;
    margin: 10px auto;
}
.cards{
    height: 210px;
    width: 150px;
    border: solid blue 1px;
    margin: 10px auto;
}
.players{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
}
.players2{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.nextBtn{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.result{
    width: 500px;
    height: 500px;
    border: solid green 1px;
    text-align: center;
    margin: 10px auto;
}
.total{
    font-size: 60px;
    font-weight: bold;
    color: red;
    margin: 4vw auto;
}
.img{
    width: 100%;
}